.card {
    transition: transform 0.2s;
}

/*    .card:hover {
        transform: translateY(-5px);
    }

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}
*/
.btn {
    transition: all 0.3s ease;
}

    .btn:hover {
        transform: scale(1.05);
    }
